﻿.clickable {
            background: #ff6a00;
            width: auto;
            vertical-align: middle;
            height: 21px;
            margin: 4px;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            text-decoration-color: white;
            text-align: center;
            display: table;
            float: left;
            padding:3px;
             padding-right: 3px;
        }

            .clickable:hover {
                background: #111111;
                width: auto;
                vertical-align: middle;
                height: 21px;
                margin: 4px;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                text-decoration-color: white;
                text-align: center;
                display: table;
                float: left;
                padding:3px;
                 padding-right: 3px;
            }
