@import '../../shared/mixins',
        '../../shared/reset',
        '../../shared/about-dark';

/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */

$popoverHoverColor: #5a70b0;




.user {
  position: relative;
  height: 32px;
  padding: 8px 12px 8px 8px;
  @include inline-block;

  img {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }

  h5 {
    float: left;
    line-height: 16px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-shadow: 0 1px rgba(black, .4);

    small {
      display: block;
      font-size: 9px;
      font-weight: bold;
      text-transform: uppercase;
      color: #364168;
      color: rgba(black, .6);
      text-shadow: 0 1px rgba(white, .3);
    }
  }

  &:hover ul {
    padding: 4px 0 6px;
    visibility: visible;
    opacity: 1;
  }

