﻿#adstag {
    width: 780px;
    margin: 0 auto;
    float: left;
    display: table-cell;
    height: 240px;
    padding-top:5px;
    margin-right:0px;
}

#MainBar {
    border: 1px;
    width: 810px;
    margin: 0 auto;
    padding-bottom: 2px;
    height: 62px;
    margin-bottom: 5px;
    transition: all 0.3s linear;
    color: white;
    padding-left: 3px;
    background-image: linear-gradient(to top right, #feda71 0%, #FDAD18 100%);
                        
                           border-top-left-radius:5px;
                           border-top-right-radius:5px;
                           -moz-border-radius-topleft:5px;
                           -moz-border-radius-topright:5px;
                           -webkit-border-top-left-radius:5px;
                           -webkit-border-top-right-radius:5px;
                                                                    
}

#InnerMainContent {
    width: 100%;
    height: 210px;
    overflow: hidden;
}

#Subject {
    width: 100%;

}

#PicArea {
    float: left;
    height: 105px;
    width: 18%;
    text-align: left;
 
}

#PicAreaTop {
     float:left;
    height: 107px;
    
    padding-top:60px;
   
    text-align:left;
    width: 100%;
}
.nameT {
     width: 100%;
    height: 60px;
    text-align: left;
padding-bottom:20px;
float:left;
padding-top:-9px;
text-decoration:underline;
}
#PicCaption {
    width: 100%;
    height: 60px;
    text-align: left;
padding-bottom:20px;
float:left;
padding-top:-9px;
text-decoration:underline;
}

#Description {
    float: left;
    height: 170px;
    width: 70%;
    padding-top: 10px;
}

#DescripDiv1 {
    width: 100%;
    height: 107px;
    text-align:justify;
    font-size:large;
}

#BtnArea {
    height: 64px;
    width: 100%;
    text-align: center;
}

#Share {
    float: left;
    width: 12%;
    height: 170px;
}

#ShareInner {
    width: 100%;
    height: 170px;
    float:right;
    text-align:right;
}

#LowerTags {
    width: 100%;
    height: 35px;
    display:table;
}

#LowerTagsText {
    width: 70%;
    height: 100%;
      float:left;
    display:table-cell;
}
#LowerPostDate {
    width:30%;
    height:100%;
    float:left;
    display:table-cell;
    text-align:right;
}