﻿
.AdBoundary {
    width: 750px;
    height: 245px;
    margin: 0 auto;
}

.AdHeaderSubject {
    width: 100%;
    font-size: x-large;
    color: #ff6a00;
    padding: 2px;
    height: auto;
}

.PicDescriptionOutter {
    width: 100%;
    height: 120px;
    display: table;
}

.PicDescPicArea {
    width: 20%;
    padding-top: 20px;
    float: left;
    display: table-cell;
text-align:center;
}

.PicDescPicAreaRighAlign {

}

.PicDescDescArea {
    width: 73%;
    padding-top: 20px;
    padding-bottom: 3px;
    float: left;
    display: table-cell;
    text-align: justify;
}

.PicDescShareArea {
    width: 7%;
    padding-top: 20px;
    float: left;
    display: table-cell;
}

.ShareAreaRightAlign {
    float: right;
}

.PostButtonDiv {
    width: 100%;
    margin: 0 auto;
    height: auto;
    text-align: center;
}

.TagDateOutter {
    width: 100%;
    height: auto;
    display: table;
}

.TagHorizontalList {
    width: 78%;
    float: left;
    display: table-cell;
    padding-top: 25px;
}

.DateRightAlign {
    float: right;
    padding-top: 25px;
}

.DateHorizontal {
    width: 22%;
    float: left;
    display: table-cell;
}
