﻿#adstag {
    width: 700px;
    padding-left:6px;
    margin: 0 auto;
    float: left;
    display: table-cell;
    height: 240px;


}

#MainBar {
    border: 1px;
    width: 710px;
    margin: 0 auto;
    padding-bottom: 2px;
    height: 62px;
    margin-bottom: 5px;
    transition: all 0.3s linear;
    color: white;
    padding-left: 3px;
    background-image: linear-gradient(to top right, #feda71 0%, #FDAD18 100%);
                           border-radius: 5px;
                                                                      -moz-border-radius: 5px;
                                                                       -webkit-border-radius: 5px;
}

#InnerMainContent {
    width: 100%;
    height: 210px;
  
}

#Subject {
    width: 100%;
}

#PicArea {
    float: left;
    height: 105px;
    width: 18%;
    text-align: center;
}

#PicAreaTop {
    height: 107px;
    width: 100%;
    margin: 0px;
}

#PicCaption {
    width: 100%;
    height: 64px;
    text-align: center;
    margin: 0px;
}

#Description {
    float: left;
    height: 170px;
    width: 70%;
    padding-top: 10px;
}

#DescripDiv1 {
    width: 100%;
    height: 107px;
    text-align:center;

}

#BtnArea {
    height: 64px;
    width: 100%;
    text-align: center;
}

#Share {
    float: left;
    width: 12%;
    height: 170px;
}

#ShareInner {
    width: 100%;
    height: 170px;
}

#LowerTags {
    width: 100%;
    height: 35px;
    display:table;
}

#LowerTagsText {
    width: 70%;
    height: 100%;
      float:left;
    display:table-cell;
}
#LowerPostDate {
    width:30%;
    height:100%;
    float:left;
    display:table-cell;
    text-align:right;
}