﻿.btn{
    /*background: linear-gradient(top, #feda71 0%,#febb4a 100%);*/
    /* IE10 Consumer Preview */ 
/* Mozilla Firefox */ 
/* Opera */ 
/* Webkit (Safari/Chrome 10) */ 
/* Webkit (Chrome 11+) */ 
/* W3C Markup, IE10 Release Preview */ 
border-left: 1px solid #e5a73e;
    border-right: 1px solid #e5a73e;
    border-top: 1px solid #f5b74e;
    border-bottom: 1px solid #d6982f;
    box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;
   
    height: 40px;
   
    border-radius: 4px;
    text-align:center;
  width:130px;


    overflow: hidden;
    transition: all 0.3s linear;
    background-image: linear-gradient(to top right, #feda71 0%, #febb4a 100%);
}

.btn:hover{
   
    box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    
}
.btn:hover .btn-text{
       color: #ffffff;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
 
}



.btn:active {
    position:relative;
    top:1px;
    background: linear-gradient(top, #fec354 0%,#fecd61 100%); /* W3C */
    border-color: #d29a3a #cc9436 #c89133;
    text-shadow: 0 1px 0 #fee1a0;
    box-shadow: 0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e; 
 text-align:center;
}
