﻿/* Header */
header.global { 
  background: #111 url(http://assets.meraband.com/img/css/headerGrad.png) repeat-x 0 0;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top:0px;
}
#siteHeader {
  float: left;
}
#siteHeader a {
  background: url(../../Content/MBandLogo.png) no-repeat 0 50%;
  display: block;
  height: 60px;
  text-indent: -9999px;
  width: 122px;
}
a {
  color: #ED1C24;

  color: #E48003;
  display: block;
  float: left;
 
  height: 9px;
  letter-spacing: 1px;  
  line-height: 9px;  
  padding: 0 15px 0 0;       
  text-decoration: none;
  text-transform: uppercase;
}
nav.regional {
  font-style: italic;           
  padding: 30px 20px 30px 30px;
  text-align: right;
  width: 220px;     
}
.contentWrapper,
.colWrap {
  width: 90%;           
}
.contentWrapper {
  margin: 0 auto;
  position: relative; 
  top: 0;
}

nav.global {
  float: right;
  font-style: normal;
  text-shadow: 0 1px 5px #000;
}
nav.global ul {
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  height: 60px;
  margin: 0;
}
nav.global li {
  float: left;
}
nav.global a {
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.07); 
  color: #FFF;
  display: block;
  height: 60px;
  line-height: 60px; 
  padding: 0 20px;
  text-decoration: none;
 -webkit-transition: background-color .15s linear;
    -moz-transition: background-color .15s linear;
         transition: background-color .15s linear;
}
nav.global a:hover,
nav.global a:active,
nav.global a.current {
  color: #E48003;
}
nav.global a:hover {
  background: rgba(255, 255, 255, 0.05);
}
nav.global a:active {
  background-color: #373737;
 -webkit-box-shadow: inset 0 1px 4px #000;
    -moz-box-shadow: inset 0 1px 4px #000;
      -o-box-shadow: inset 0 1px 4px #000;
         box-shadow: inset 0 1px 4px #000;   
}
nav.global a.home {
  background: url() no-repeat 0 -60px;
  border-left: none;
  padding-left: 0;
  text-indent: -9999px;
  width: 18px;
}
nav.global a.home:hover,
nav.global a.home.current {
  background-position: 0 0;
}
nav.global a.home:active {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
       -o-box-shadow: none;
          box-shadow: none;  
}