﻿

/* signup 2*/


#signUp
{
	text-align:left;
	
	
	-moz-border-radius:15px;
	border-radius:3px;
	margin:0 auto 1.625em;
	padding:1.625em;
	position:relative;
	
    width:330px;
    -moz-border-radius: 25px; /* Firefox 3.6 and earlier */
}
.reply-title
{
		color:#ffffff;
		font-size:40px;
		font-weight:bold;
		line-height:25px;
}
.cancel-comment-reply-link
{
	color:#888;
	display:block;
	font-size:10px;
	font-weight:normal;
	line-height:2.2em;
	letter-spacing:0.05em;
	position:absolute;
	right:1.625em;
	text-decoration:none;
	text-transform:uppercase;
	top:1.1em;
}
#signUp .comment-notes, #signUp .logged-in-as
{
	font-size:13px;
}
#signUp input[type="text"], #signUp textarea
{
	background:#fff;
	border:4px solid #febb4a;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	-moz-box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	position:relative;
	padding:10px;
	text-indent:80px;
}
#signUp input[type="password"], #signUp textarea
{
	background:#fff;
	border:4px solid #febb4a;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	-moz-box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	position:relative;
	padding:10px;
	text-indent:80px;
}
#signUp .comment-form-author, 
#signUp .comment-form-email, 
#signUp .comment-form-url, 
#signUp .comment-form-comment
{
	position:relative;
}

#signUp .comment-form-author label, 
#signUp .comment-form-email label, 
#signUp .comment-form-url label, 
#signUp .comment-form-comment label
{
	background: linear-gradient(to top right, #feda71 0%, #febb4a 100%);
	-webkit-box-shadow:1px 2px 2px rgba(204,204,204,0.8);
	-moz-box-shadow:1px 2px 2px rgba(204,204,204,0.8);
	box-shadow:1px 2px 2px rgba(204,204,204,0.8);
	color:#555;display:inline-block;
	font-size:13px;
	left:4px;
	min-width:35px;
	padding:4px 10px;
	position:relative;
	top:40px;
	z-index:1
}

#signUp input[type="text"]:focus, 
#signUp textarea:focus
{
	text-indent:0;
	z-index:1;
}
#signUp input[type="password"]:focus, 
#signUp textarea:focus
{
	text-indent:0;
	z-index:1;
}
#signUp textarea
{
	resize:vertical;
	width:20%;
}
#signUp .comment-form-author .required, 
#signUp .comment-form-email .required,
#signUp .comment-form-url .required
{
	color:#febb4a;
	font-size:22px;
	font-weight:bold;
	left:75%;
	position:relative;
	top:45px;
	z-index:1;
}
#signUp p
{
	margin:10px 0;
}
#signUp .form-submit
{
	float:left;
	margin:-20px 0 20px;
	padding-bottom:20px;
}
#signUp input#submit1
{
	background:#222;
	border:none;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:0px 1px 2px rgba(0,0,0,0.3);
	box-shadow:0px 1px 2px rgba(0,0,0,0.3);
	color:#d6e395;cursor:pointer;
	font-size:15px;
	margin:20px 0;
	padding:5px 20px;
	text-shadow:0 -1px 0 rgba(0,0,0,0.3);
}
#signUp input#submit1:active
{
	background:#1982d1;
	color:#bfddf3;
}
#signUp #cancel-comment-reply-link
{
	color:#666;
	margin-left:10px;
	text-decoration:none;
}
#signUp .logged-in-as a:hover, 
#signUp .cancel-comment-reply-link:hover
{
	text-decoration:underline;
}
.cancel-comment-reply-link:focus,
.cancel-comment-reply-link:active,
.cancel-comment-reply-link:hover
{
	color:#ff4b33;
}
#signUp label
{
	line-height:2.0em;
}
#signUp input[type=text]
{
	display:block;
	height:21px;
	width:80%;
}
#signUp input[type=password]
{
	display:block;
	height:21px;
	width:80%;
}
#signUp p
{
	font-size:12px;
}
p.comment-form-comment
{
	margin:0;
}
.form-allowed-tags
{
	display:none;
}

/* Reg 2*/


#Reg
{
	text-align:left;
	
	
	-moz-border-radius:15px;
	border-radius:3px;
	margin:0 auto 1.625em;
	padding:1.625em;
	position:relative;
	
    width:330px;
    -moz-border-radius: 25px; /* Firefox 3.6 and earlier */
}
.reply-title
{
		color:#ffffff;
		font-size:40px;
		font-weight:bold;
		line-height:25px;
}
.cancel-comment-reply-link
{
  color:#febb4a;
	display:block;
	font-size:10px;
	font-weight:normal;
	line-height:2.2em;
	letter-spacing:0.05em;
	position:absolute;
	right:1.625em;
	text-decoration:none;
	text-transform:uppercase;
	top:1.1em;
}
#Reg .comment-notes, #Reg .logged-in-as
{
	font-size:13px;
}
#Reg input[type="text"], #Reg textarea
{
	background:#fff; 
	border:4px solid #febb4a;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	-moz-box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	position:relative;
	padding:10px;
	text-indent:80px;
}
#Reg input[type="password"], #Reg textarea
{
	background:#fff;
	border:4px solid #febb4a;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	-moz-box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	position:relative;
	padding:10px;
	text-indent:80px;
}
#Reg .comment-form-author, 
#Reg .comment-form-email, 
#Reg .comment-form-url, 
#Reg .comment-form-comment
{
	position:relative;
}

#Reg .comment-form-author label, 
#Reg .comment-form-email label, 
#Reg .comment-form-url label, 
#Reg .comment-form-comment label
{
  background: linear-gradient(to top right, #feda71 0%, #febb4a 100%);
	-webkit-box-shadow:1px 2px 2px rgba(204,204,204,0.8);
	-moz-box-shadow:1px 2px 2px rgba(204,204,204,0.8);
	box-shadow:1px 2px 2px rgba(204,204,204,0.8);
	color:#555;display:inline-block;
	font-size:13px;
	left:4px;
	min-width:35px;
	padding:4px 10px;
	position:relative;
	top:40px;
	z-index:1
}

#Reg input[type="text"]:focus, 
#Reg textarea:focus
{
	text-indent:0;
	z-index:1;
}
#Reg input[type="password"]:focus, 
#Reg textarea:focus
{
	text-indent:0;
	z-index:1;
}
#Reg textarea
{
	resize:vertical;
	width:20%;
}
#Reg .comment-form-author .required, 
#Reg .comment-form-email .required,
#Reg .comment-form-url .required
{
	color:#bd3500;
	font-size:22px;
	font-weight:bold;
	left:75%;
	position:relative;
	top:45px;
	z-index:1;
}
#Reg p
{
	margin:10px 0;
}
#Reg .form-submit
{
	float:left;
	margin:-20px 0 20px;
	padding-bottom:20px;
}
#Reg input#submit1
{
	background:#222;
	border:none;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:0px 1px 2px rgba(0,0,0,0.3);
	box-shadow:0px 1px 2px rgba(0,0,0,0.3);
	color:#d6e395;cursor:pointer;
	font-size:15px;
	margin:20px 0;
	padding:5px 20px;
	text-shadow:0 -1px 0 rgba(0,0,0,0.3);
}
#Reg input#submit1:active
{
	background:#1982d1;
	color:#bfddf3;
}
#Reg #cancel-comment-reply-link
{
	color:#666;
	margin-left:10px;
	text-decoration:none;
}
#Reg .logged-in-as a:hover, 
#Reg .cancel-comment-reply-link:hover
{
	text-decoration:underline;
}
.cancel-comment-reply-link:focus,
.cancel-comment-reply-link:active,
.cancel-comment-reply-link:hover
{
	color:#ff4b33;
}
#Reg label
{
	line-height:2.0em;
}
#Reg input[type=text]
{
	display:block;
	height:21px;
	width:80%;
}
#Reg input[type=password]
{
	display:block;
	height:21px;
	width:80%;
}
#Reg p
{
	font-size:12px;
}
p.comment-form-comment
{
	margin:0;
}
.form-allowed-tags
{
	display:none;
}

/* Reset 2*/


#Reset
{
	text-align:left;
	
	
	-moz-border-radius:15px;
	border-radius:3px;
	margin:0 auto 1.625em;
	padding:1.625em;
	position:relative;
	
    width:340px;
    -moz-border-radius: 25px; /* Firefox 3.6 and earlier */
}
.reply-title
{
		color:#ffffff;
		font-size:40px;
		font-weight:bold;
		line-height:25px;
}
.cancel-comment-reply-link
{
	color:#888;
	display:block;
	font-size:10px;
	font-weight:normal;
	line-height:2.2em;
	letter-spacing:0.05em;
	position:absolute;
	right:1.625em;
	text-decoration:none;
	text-transform:uppercase;
	top:1.1em;
}
#Reset .comment-notes, #Reset .logged-in-as
{
	font-size:13px;
}
#Reset input[type="text"], #Reset textarea
{
	background:#fff;
	border:4px solid #d6e395;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	-moz-box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	position:relative;
	padding:10px;
	text-indent:80px;
}
#Reset input[type="password"], #Reset textarea
{
	background:#fff;
	border:4px solid #d6e395;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	-moz-box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	position:relative;
	padding:10px;
	text-indent:80px;
}
#Reset .comment-form-author, 
#Reset .comment-form-email, 
#Reset .comment-form-url, 
#Reset .comment-form-comment
{
	position:relative;
}

#Reset .comment-form-author label, 
#Reset .comment-form-email label, 
#Reset .comment-form-url label, 
#Reset .comment-form-comment label
{
	background:#d6e395;
	-webkit-box-shadow:1px 2px 2px rgba(204,204,204,0.8);
	-moz-box-shadow:1px 2px 2px rgba(204,204,204,0.8);
	box-shadow:1px 2px 2px rgba(204,204,204,0.8);
	color:#555;display:inline-block;
	font-size:13px;
	left:4px;
	min-width:35px;
	padding:4px 10px;
	position:relative;
	top:40px;
	z-index:1
}

#Reset input[type="text"]:focus, 
#Reset textarea:focus
{
	text-indent:0;
	z-index:1;
}
#Reset input[type="password"]:focus, 
#Reset textarea:focus
{
	text-indent:0;
	z-index:1;
}
#Reset textarea
{
	resize:vertical;
	width:20%;
}
#Reset .comment-form-author .required, 
#Reset .comment-form-email .required,
#Reset .comment-form-url .required
{
	color:#bd3500;
	font-size:22px;
	font-weight:bold;
	left:75%;
	position:relative;
	top:45px;
	z-index:1;
}
#Reset p
{
	margin:10px 0;
}
#Reset .form-submit
{
	float:left;
	margin:-20px 0 20px;
	padding-bottom:20px;
}
#Reset input#submit1
{
	background:#222;
	border:none;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:0px 1px 2px rgba(0,0,0,0.3);
	box-shadow:0px 1px 2px rgba(0,0,0,0.3);
	color:#d6e395;cursor:pointer;
	font-size:15px;
	margin:20px 0;
	padding:5px 20px;
	text-shadow:0 -1px 0 rgba(0,0,0,0.3);
}
#Reset input#submit1:active
{
	background:#1982d1;
	color:#bfddf3;
}
#Reset #cancel-comment-reply-link
{
	color:#666;
	margin-left:10px;
	text-decoration:none;
}
#Reset .logged-in-as a:hover, 
#Reset .cancel-comment-reply-link:hover
{
	text-decoration:underline;
}
.cancel-comment-reply-link:focus,
.cancel-comment-reply-link:active,
.cancel-comment-reply-link:hover
{
	color:#ff4b33;
}
#Reset label
{
	line-height:2.0em;
}
#Reset input[type=text]
{
	display:block;
	height:21px;
	width:80%;
}
#Reset input[type=password]
{
	display:block;
	height:21px;
	width:80%;
}
#Reset p
{
	font-size:12px;
}
p.comment-form-comment
{
	margin:0;
}
.form-allowed-tags
{
	display:none;
}





