﻿
        .MsgBubble {
           width:auto;
            height:auto;
           

            
        }
        .MsgBubbleHimHer {
             width:auto;
               height:auto;
                padding-top:10px;
        }

        .triangle-isosceles {
   position:relative;
   padding:15px;
   margin:1em 0 3em;
   color:#000;
   background:#f3961c;
   /* css3 */
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   border-radius:10px;
   background:-moz-linear-gradient(top, #f9d835, #f3961c);
   background:linear-gradient(top, #f9d835, #f3961c);
}

/* creates triangle */
.triangle-isosceles:after {
   content:"";
   display:block; /* reduce the damage in FF3.0 */
   position:absolute;
   bottom:-15px;
   left:20px;
   width:0;
   border-width:15px 15px 0;
   border-style:solid;
   border-color:#f3961c transparent;
}


.triangle-right {
	position:relative;
	padding:15px;
	margin:1em 0 2em;
	color:#fff;
	background:#FD841A; /* default background for browsers without gradient support */

	/* css3 */

	background:-webkit-gradient(linear, 0 0, 0 100%, from(#febb4a), to(#f3961c));
	background:-moz-linear-gradient(#febb4a, #f3961c);
	background:-o-linear-gradient(#febb4a, #f3961c);
	background:linear-gradient(#febb4a, #f3961c);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
   
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-right.top {
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#AC822D), to(#91663c));
	background:-moz-linear-gradient(#AC822D, #91663c);
	background:-o-linear-gradient(#AC822D, #91663c);
	background:linear-gradient(#AC822D, #91663c);
}

.triangle-right.left {
	margin-left:40px;
	background:#f3961c;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-right.right {
	margin-right:40px;
	background:#f3961c;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right:after {
	content:"";
	position:absolute;
	bottom:-18px; /* value = - border-top-width - border-bottom-width */
	left:50px; /* controls horizontal position */
	border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#f3961c transparent; 
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}


/* Variant : top
------------------------------------------ */

.triangle-right.top:after {
	top:-18px; /* value = - border-top-width - border-bottom-width */
	right:50px; /* controls horizontal position */
	bottom:auto;
	left:auto;
	border-width:20px 20px 0 0; /* vary these values to change the angle of the vertex */
	border-color:transparent #AC822D; 
}


/* Variant : left
------------------------------------------ */

.triangle-right.left:after {
	top:16px; 
	left:-40px; /* value = - border-left-width - border-right-width */
	bottom:auto;
	border-width:15px 40px 0 0; /* vary these values to change the angle of the vertex */
	border-color:transparent #075698; 
}

/* Variant : right
------------------------------------------ */

.triangle-right.right:after {
	top:16px; 
	right:-40px; /* value = - border-left-width - border-right-width */
	bottom:auto;
    left:auto;
	border-width:15px 0 0 40px; /* vary these values to change the angle of the vertex */
	border-color:transparent #075698 ; 
}
        .picSetMy {
          
            text-align:left;
            padding-left:50px;
            margin-top:0px;
        }
           .picSetHimHer {
           padding-bottom:6px;
            text-align:right;
            padding-right:35px;
            margin-top:0px;
        }
.ptext{font-family:"Times New Roman", Times, serif;
       color:black;
}