﻿     #blanket
        {
            background-color: #111;
            opacity: 0.65;
            position: absolute;
            z-index: 9001;
            top: 0px;
            left: 0px;
            width: 100%;
        }
        #popUpDivCountry
        {
            position: absolute;
            background-color: #ffffff;
            width: 600px;
            z-index: 9002;
            opacity: .83;
            left: 93px;
            border: 3px solid #a1a1a1;
            padding: 10px 10px;
            background: #dddddd;
            border-radius: 25px;
            -moz-border-radius: 25px; /* Firefox 3.6 and earlier */
            box-shadow: 5px 5px 2px;
            top: 69px;
              margin: 0 0 0 20%;
        }