﻿#respond
{
	text-align:left;
	background:#ffffff;
	border:1px solid #d3d3d3;
	-moz-border-radius:3px;
	border-radius:3px;
	margin:0 auto 1.625em;
	padding:1.625em;
	position:relative;
	float:left;
	-moz-border-radius: 25px; /* Firefox 3.6 and earlier */
	width: 40%;
}
.reply-title
{
		color:#373737;
		font-size:24px;
		font-weight:bold;
		line-height:25px;
}
.cancel-comment-reply-link
{
	color:#888;
	display:block;
	font-size:10px;
	font-weight:normal;
	line-height:2.2em;
	letter-spacing:0.05em;
	position:absolute;
	right:1.625em;
	text-decoration:none;
	text-transform:uppercase;
	top:1.1em;
}
#respond .comment-notes, #respond .logged-in-as
{
	font-size:13px;
}
#respond input[type="text"], #respond textarea
{
	background:#fff;
	border:4px solid #eee;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	-moz-box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	position:relative;
	padding:10px;
	text-indent:80px;
}

#respond .comment-form-author, 
#respond .comment-form-email, 
#respond .comment-form-url, 
#respond .comment-form-comment
{
	position:relative;
}

#respond .comment-form-author label, 
#respond .comment-form-email label, 
#respond .comment-form-url label, 
#respond .comment-form-comment label
{
	background:#eee;
	-webkit-box-shadow:1px 2px 2px rgba(204,204,204,0.8);
	-moz-box-shadow:1px 2px 2px rgba(204,204,204,0.8);
	box-shadow:1px 2px 2px rgba(204,204,204,0.8);
	color:#555;display:inline-block;
	font-size:13px;
	left:4px;
	min-width:35px;
	padding:4px 10px;
	position:relative;
	top:40px;
	z-index:1
}

#respond input[type="text"]:focus, 
#respond textarea:focus
{
	text-indent:0;
	z-index:1;
}
#respond textarea
{
	resize:vertical;
	width:20%;
}
#respond .comment-form-author .required, 
#respond .comment-form-email .required
{
	color:#bd3500;
	font-size:22px;
	font-weight:bold;
	left:75%;
	position:absolute;
	top:45px;
	z-index:1;
}
#respond p
{
	margin:10px 0;
}
#respond .form-submit
{
	float:left;
	margin:-20px 0 20px;
	padding-bottom:20px;
}
#respond input#submit
{
	background:#222;
	border:none;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:0px 1px 2px rgba(0,0,0,0.3);
	box-shadow:0px 1px 2px rgba(0,0,0,0.3);
	color:#eee;cursor:pointer;
	font-size:15px;
	margin:20px 0;
	padding:5px 20px;
	text-shadow:0 -1px 0 rgba(0,0,0,0.3);
}
#respond input#submit:active
{
	background:#1982d1;
	color:#bfddf3;
}
#respond #cancel-comment-reply-link
{
	color:#666;
	margin-left:10px;
	text-decoration:none;
}
#respond .logged-in-as a:hover, 
#respond .cancel-comment-reply-link:hover
{
	text-decoration:underline;
}
.cancel-comment-reply-link:focus,
.cancel-comment-reply-link:active,
.cancel-comment-reply-link:hover
{
	color:#ff4b33;
}
#respond label
{
	line-height:2.0em;
}
#respond input[type=text]
{
	display:block;
	height:21px;
	width:80%;
}
#respond p
{
	font-size:12px;
}
p.comment-form-comment
{
	margin:0;
}
.form-allowed-tags
{
	display:none;
}




/* signup 2*/


#signUp
{
	text-align:left;
	background:#ffffff;
	border:1px solid #d3d3d3;
	-moz-border-radius:15px;
	border-radius:3px;
	margin:0 auto 1.625em;
	padding:1.625em;
	position:relative;
	float:right;
    width:40%;
    -moz-border-radius: 25px; /* Firefox 3.6 and earlier */
}
.reply-title
{
		color:#373737;
		font-size:24px;
		font-weight:bold;
		line-height:25px;
}
.cancel-comment-reply-link
{
	color:#888;
	display:block;
	font-size:10px;
	font-weight:normal;
	line-height:2.2em;
	letter-spacing:0.05em;
	position:absolute;
	right:1.625em;
	text-decoration:none;
	text-transform:uppercase;
	top:1.1em;
}
#signUp .comment-notes, #signUp .logged-in-as
{
	font-size:13px;
}
#signUp input[type="text"], #signUp textarea
{
	background:#fff;
	border:4px solid #eee;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	-moz-box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	position:relative;
	padding:10px;
	text-indent:80px;
}

#signUp .comment-form-author, 
#signUp .comment-form-email, 
#signUp .comment-form-url, 
#signUp .comment-form-comment
{
	position:relative;
}

#signUp .comment-form-author label, 
#signUp .comment-form-email label, 
#signUp .comment-form-url label, 
#signUp .comment-form-comment label
{
	background:#eee;
	-webkit-box-shadow:1px 2px 2px rgba(204,204,204,0.8);
	-moz-box-shadow:1px 2px 2px rgba(204,204,204,0.8);
	box-shadow:1px 2px 2px rgba(204,204,204,0.8);
	color:#555;display:inline-block;
	font-size:13px;
	left:4px;
	min-width:35px;
	padding:4px 10px;
	position:relative;
	top:40px;
	z-index:1
}

#signUp input[type="text"]:focus, 
#signUp textarea:focus
{
	text-indent:0;
	z-index:1;
}
#signUp textarea
{
	resize:vertical;
	width:20%;
}
#signUp .comment-form-author .required, 
#signUp .comment-form-email .required
{
	color:#bd3500;
	font-size:22px;
	font-weight:bold;
	left:75%;
	position:relative;
	top:45px;
	z-index:1;
}
#signUp p
{
	margin:10px 0;
}
#signUp .form-submit
{
	float:left;
	margin:-20px 0 20px;
	padding-bottom:20px;
}
#signUp input#submit1
{
	background:#222;
	border:none;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:0px 1px 2px rgba(0,0,0,0.3);
	box-shadow:0px 1px 2px rgba(0,0,0,0.3);
	color:#eee;cursor:pointer;
	font-size:15px;
	margin:20px 0;
	padding:5px 20px;
	text-shadow:0 -1px 0 rgba(0,0,0,0.3);
}
#signUp input#submit1:active
{
	background:#1982d1;
	color:#bfddf3;
}
#signUp #cancel-comment-reply-link
{
	color:#666;
	margin-left:10px;
	text-decoration:none;
}
#signUp .logged-in-as a:hover, 
#signUp .cancel-comment-reply-link:hover
{
	text-decoration:underline;
}
.cancel-comment-reply-link:focus,
.cancel-comment-reply-link:active,
.cancel-comment-reply-link:hover
{
	color:#ff4b33;
}
#signUp label
{
	line-height:2.0em;
}
#signUp input[type=text]
{
	display:block;
	height:21px;
	width:80%;
}
#signUp p
{
	font-size:12px;
}
p.comment-form-comment
{
	margin:0;
}
.form-allowed-tags
{
	display:none;
}


