﻿ 
        .TagsClose {
        }

        .spaces {
            width: 8px;
            display: table;
            float: left;
        }

        .TagsNew {
            text-align: center;
            color: white;
            vertical-align: middle;
            padding: 5px;
        }

        .filterDivs {
            width: auto;
            display: table;
            background: Grey;
            color: white;
            width: auto;
            vertical-align: middle;
            height: auto;
            float: left;
            margin: 0 auto;
            text-align: center;
            padding: 4px;
            opacity: .6;
            margin-bottom: 2px;
            float: right;
            margin: 2px;
        }

        .filterDivsSpace {
            width: 2px;
            margin: 2px;
            float: right;
        }

        

        .ddl {
            padding: 12px 15px;
            /* Styles */
            background: #fff;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            box-shadow: 0 1px 0 rgba(0,0,0,0.2);
            cursor: pointer;
            outline: none;
            transition: all 0.3s ease-out;
        }

        .txtAreaFull {
            padding: 12px 15px;
            border: 1px;
            border-style: solid;
            border-color: black;
            -khtml-border-radius: 5px;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            font: italic 13px Georgia, "Times New Roman", Times, serif;
            outline: initial;
            padding: 5px;
            cursor: pointer;
            transition: all 0.3s ease-out;
            width:350px;
        }

        #PostOuter {
            margin: 0 auto;
            padding: 5px;
            width: 70%;
            text-align: center;
        }

        #PostHeader {
            margin: 0 auto;
            padding: 4px;
            font-size: xx-large;
            width: 100%;
            color: #ff6a00;
        }

        #PostTitle {
            padding: 8px;
        }

        #PostLocation {
            padding: 8px;
        }

        #PostObjective {
            padding: 8px;
        }

        #PostTagLstTitle {
            padding: 8px;
        }

        #PostTagLst {
            padding: 8px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            float: left;
        }

        #PostAddedTags {
            padding: 4px;
            margin: 0 auto;
            text-align: center;
            float: right;
            width: 100%;
        }

        #PostButton {
            padding: 4px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }