﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default7.aspx.cs" Inherits="Default7" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="Content/AdsStyle.css" rel="stylesheet" />
    <script src="Scripts/Jquery1.9.js"></script>
        <style type="text/css">
                                                                   .clickable {
                                                                       background: #111111;
                                                                       width: auto;
                                                                       vertical-align: middle;
                                                                       height: 24px;
                                                                       border-radius: 5px;
                                                                       -moz-border-radius: 5px;
                                                                       -webkit-border-radius: 5px;
                                                                       text-decoration-color: white;
                                                                       text-align: center;
                                                                       display: table;
                                                                       float: left;
                                                                       padding:3px;
                                                                       padding-right:3px;
                                                                       
                                                                   }
            .clickable1 {
                
                                                                       width: auto;
                                                                       vertical-align: middle;
                                                                       height: 24px;
                                                                       border-radius: 5px;
                                                                       -moz-border-radius: 5px;
                                                                       -webkit-border-radius: 5px;
                                                                       text-decoration-color: white;
                                                                       text-align: center;
                                                                       display: table;
                                                                       float: left;
                                                                       padding:3px;
                                                                       padding-right:3px;
            }


                                                                       .clickable:hover {
                                                                           background: #ff6a00;
                                                                           width: auto;
                                                                           vertical-align: middle;
                                                                           height: 24px;
                                                                           border-radius: 5px;
                                                                           -moz-border-radius: 5px;
                                                                           -webkit-border-radius: 5px;
                                                                           text-decoration-color: white;
                                                                           text-align: center;
                                                                           display: table;
                                                                           float: left;
                                                                       }

                                                                           .clickableVertical {
                                                                       background: #ff6a00;
                                                                       width: auto;
                                                                       vertical-align: middle;
                                                                       height: 23px;
                                                                       border-radius: 5px;
                                                                       -moz-border-radius: 5px;
                                                                       -webkit-border-radius: 5px;
                                                                       text-decoration-color: white;
                                                                       text-align: center;
                                                                      
                                                                       display: table;
                                                                     
                                                                      
                                                                   }
                                                                                .clickableVertical:hover {
                                                                           background: #111111;
                                                                           width: auto;
                                                                           vertical-align: middle;
                                                                           height: 23px;
                                                                           border-radius: 5px;
                                                                           -moz-border-radius: 5px;
                                                                           -webkit-border-radius: 5px;
                                                                           text-decoration-color: white;
                                                                           text-align: center;
                                                                          display: table;
                                                                      
                                                                       }
                                                                 

                                                                   .spacesY {
                                                                       width: 8px;
                                                                                                                                   
                                                                       text-align:right;
                                                                       color:white;
                                                                       height:5px;
                                                                   }
                                                                   .spaces {
                                                                       width: 8px;
                                                                    
                                                                   }
                                                                   .TagsNew {
                                                                       text-align: center;
                                                                       color: white;
                                                                       vertical-align: middle;
                                                                       padding: 5px;
                                                                   }

                                                                   .Title {
                                                                       width: 100%;
                                                                       font-size: x-large;
                                                                       color: #ff6a00;
                                                                       font-weight: 500;
                                                                       text-align: center;
                                                                       margin-bottom: 3px;
                                                                       text-anchor: middle;
                                                                   }

                                                                   .headTitle {
                                                                       font-size: large;
                                                                       color: #808080;
                                                                       margin: 0 auto;
                                                                   }

                                                                   .adListDIV {
                                                                       margin: 0 auto;
                                                                       text-align: center;
                                                                   }

                                                                   .BandName {
                                                                       color: #2c2a2a;
                                                                       text-align: center;
                                                                       font-weight: 100;
                                                                       text-anchor: middle;
                                                                   }

                                                                   .auto-style5 {
                                                                       width: 60%;
                                                                       height: 400px;
                                                                       border-color: #808080;
                                                                   }

                                                                   .tagsn {
                                                                       margin-top: 3px;
                                                                       margin-bottom: 0px;
                                                                       margin-left: 5px;
                                                                   }

                                                                   .imgForShare {
                                                                       width: 45px;
                                                                       height: 45px;
                                                                   }

                                                                   /*#adstag {
            border: 2px solid #808080;
            width: 80%;
            margin: 0 auto;
        }*/

                                                                   .Share {
                                                                       width: 10%;
                                                                       text-align: center;
                                                                       flex-item-align: center;
                                                                   }

                                                                   .Bandpic {
                                                                       width: 20%;
                                                                       text-align: left;
                                                                   }

                                                                   .post {
                                                                       font-family: Verdana;
                                                                       font-weight: 400;
                                                                       text-align: center;
                                                                       vertical-align: top;
                                                                       width: 70%;
                                                                       color: #808080;
                                                                       /*height:200px;*/
                                                                   }

                                                                   .btnPost {
                                                                       text-align: center;
                                                                       margin-top: 3px;
                                                                   }

                                                                   .PostbtnStyle {
                                                                       transition: all 0.3s linear;
background-image: linear-gradient(to top right, #feda71 0%, #FDAD18 100%);
                                                                       margin: 0 auto;
                                                                       color: white;
                                                                       width: auto;
                                                                       vertical-align: middle;
                                                                       font-family: Verdana;
                                                                       height: 33px;
                                                                       border-radius: 5px;
                                                                       -moz-border-radius: 5px;
                                                                       -webkit-border-radius: 5px;
                                                                       text-decoration-color: white;
                                                                       text-align: center;
                                                                   }

                                                                       .PostbtnStyle:hover {
                                                                        transition: all 0.3s linear;
    background-image: linear-gradient(to top right, #feda71 0%, #febb4a 100%);
                                                                           width: auto;
                                                                           color: white;
                                                                           vertical-align: middle;
                                                                           font-family: Verdana;
                                                                           border-radius: 5px;
                                                                           height: 33px;
                                                                           -moz-border-radius: 5px;
                                                                           -webkit-border-radius: 5px;
                                                                           text-decoration-color: white;
                                                                           text-align: center;
                                                                       }

                                                                   .AdList {
                                                                       color: #2c2a2a;
                                                                       text-align: center;
                                                                       font-weight: bold;
                                                                       height:150px;
                                                                   }

                                                                   #MainBarFirst {
                                                                       width: 100%;
                                                                       text-align: left;
                                                                       padding-top:4px;
                                                                       padding-left:2px;
                                                                   }

                                                                   #MainBarSecond {
                                                                       width: 100%;
                                                                       display: table;
                                                                       padding-top:4px;
                                                                        padding-left:2px;
                                                                   }

                                                                   #MainBarSecondLeft {
                                                                       width: 75%;
                                                                       float: left;
                                                                       display: table-cell;
                                                                       text-align: left;

                                                                   }

                                                                   #MainBarSecondRight {
                                                                       width: 25%;
                                                                       float: left;
                                                                       display: table-cell;
                                                                       text-align: right;
                                                                   }

                                                                   #OuterMain {
                                                                       width: 100%;
                                                                       display: table;
                                                                   }

                                                                   #TagsByLoc {
                                                                       float: right;
                                                                       display: table-cell;
                                                                       width:180px;
                                                                   }
                                                                   #TagBarTitle {
                                                                       width:100%;
                                                                       text-align:left;
                                                                   }
                                                                   #TagsVertical {
                                                                         width:100%;
                                                                         float:left;
                                                                         padding-top:18px;
                                                                   }
            #lblTagVertical {
                float:left;
            }
                                                     </style>
    
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <div id="holder">
    <asp:DataList ID="DataList1" runat="server"  DataKeyField="AdId"  Width="70%"  CellPadding="0" >
<HeaderTemplate>

</HeaderTemplate>

<ItemTemplate>

        <div id="adstag">
            <div id="InnerMainContent">
                <div id="Subject" class="Title">
                    <asp:Label ID="sub" runat="server"><%# Eval("Subject") %>'</asp:Label>
                
                </div>
                <div id="PicArea">
                    <div id="PicAreaTop">

                         <asp:Image ID="Image7" Width="80px" Height="80px" runat="server" ImageUrl='<%#Eval("PicPath","Content/profilepic/{0}") %>'/>
                    </div>
                   
                  <div  id="PicCaption"><a href="ProfileView.aspx?'<%# Eval("AccountId") %>'" class="BandName" title="View Profile"><strong><asp:Label ID="Label4" runat="server" Text='<%# Eval("DisplayName") %>'></asp:Label></strong></a></div>
                </div>
                <div id="Description">
                    <div id="DescripDiv1"><span class="auto-style5"><asp:Label ID="Label1" runat="server" Text='<%# Eval("Description") %>'></asp:Label></span>

                    </div>
            
                     <div id="BtnArea">
                         
                    <asp:Button ID="Button2" class="PostbtnStyle" runat="server" CommandName="PostMsg" CommandArgument='<%# Eval("AccountId") %>' Text="Post Reply" Style="font-weight: 500; font-size: x-large" />
                </div>
                </div>
                <div id="Share">
                    <div id="ShareInner">
                    <asp:Image ID="Image5" class="imgForShare" ImageUrl="~/Content/img/Facebook_icon.png" runat="server" />
                    <asp:Image ID="Image6" class="imgForShare" ImageUrl="~/Content/img/googleplus.png" runat="server" />
                </div>
            
                    </div></div
            <br />
            <div id="LowerTags">
                <div id="LowerTagsText"> <asp:Label ID="TagsToAdd" runat="server" Text='<%# Eval("AdIdStr") %>'></asp:Label>

                </div>
            </div>
            
            
        </div>
       <hr style="color:black;"/>
      
</ItemTemplate>

<FooterTemplate>

</FooterTemplate>
        </asp:DataList>
            </div>
    </div>
    </form>
</body>
</html>
 <script  type="text/javascript">
     var current = 10;
     var next = 0;
    
     $(window).scroll(function () {
         loadNext();
     }
       //    if ($(window).scrollTop() == $(document).height() - $(window).height()) {

       //}
       );
     var loadNext = function () {
        
         next = current + 10;
         $.ajax({
             url: "Handler.ashx?start=" + current + "&next=" + next + "&AccId=222&countrycode=167&stateCode=2656&cityCode=64",
             success: function (data) {
                 $("#DataList1").append(data);
             }
         });
         current = current + 10;
     };
    </script>