﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default2.aspx.cs" Inherits="Default2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <style type="text/css">
    
        
                .clickable {
            background: #111111;
            width: auto;
            vertical-align: middle;
            height: 28px;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            text-decoration-color: white;
            text-align: center;
            display: table;
            float: left;
        }

            .clickable:hover {
                background: #ff6a00;
                width: auto;
                vertical-align: middle;
                height: 26px;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                text-decoration-color: white;
                text-align: center;
                display: table;
                float: left;
            }

        .TagsClose {
        }

        .spaces {
            width: 8px;
            display: table;
            float: left;
        }

        .TagsNew {
            text-align: center;
            color: white;
            vertical-align: middle;
            padding: 5px;
        }
            .auto-style1 {
            width: 100%;
        }
        .auto-style2 {
            font-size: x-large;
            text-align: center;
            text-decoration: underline;
            color: #FF0000;
        }
        .auto-style3 {
            color: #FF3300;
        }
        .auto-style5 {
            width: 60%;
            height:160px;
        }
        #Image3, Image4, Image5 {
        width:45px;
        height:45px;
        }
         #Image4, Image4, Image5 {
        width:45px;
        height:45px;
        }
          #Image5, Image4, Image5 {
        width:45px;
        height:45px;
        }
        #tagsn {
        text-align:center;
        flex-align:center;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table border="1" align="center" cellpadding="2" class="auto-style5">
            <tr>
                <td>        <table align="center" cellpadding="2" class="auto-style1" >
            <tr>
                <td colspan="2" class="auto-style2"><strong>Wanted a lead singer (female) for progressive rock act</strong></td>
                <td class="auto-style2" rowspan="4">
                    <asp:Image ID="Image3" ImageUrl="~/Content/img/Facebook_icon.png"  runat="server" />
                    <asp:Image ID="Image4" ImageUrl="~/Content/img/googleplus.png" runat="server" />
                    <asp:Image ID="Image5" ImageUrl="~/Content/img/twitter-logo-icon-by-jon-bennallick-02.png" runat="server" />
                </td>
            </tr>
            <tr>
                <td width="18%" style="text-align: center">

                    <asp:Image ID="Image1" width="80px" Height="80px" runat="server" ImageUrl="~/Content/img/matt.png" />
                </td>
                <td width="82%" valign="top" class="auto-style4" >&nbsp;<em><span class="auto-style5">&nbsp;You are an artist. Most importantly original!</span><br class="auto-style5" />
                    <span class="auto-style5">Stage experience required! </span></em></td>
            </tr>
            <tr>
                <td style="text-align: center"><span class="auto-style3">&nbsp;C<strong>ulture Amaglation</strong></span>&nbsp;</td>
                <td style="text-align: center">
                    <asp:Button ID="Button1" runat="server" Text="Post Reply" style="font-weight: 700; font-size: x-large" />
                </td>
            </tr>
            <tr>
                <td id="tagsn" colspan="2"><em> &nbsp; <center> <asp:Label ID="TagsToAdd" runat="server" Text=""></asp:Label></center></em> </td>
            </tr>
        </table>
            </td>
            </tr>
            </table>



        <br />
        <style>
            #AdOutline {
            width:60%;
            border:thick;
            }
            #AdTitle {
            width:60%;
            }
            #BandPic {
            float:left;
            width:17%;
            height:140px;
            }
            #AdPost {
            float:left;
            width:83px;
            height:140px;
            }
            #AdShare {
             float:left;
            }
            #AdTags {
            float:left;
            }

            .auto-style4 {
                text-align: center;
            }
            .auto-style5 {
                font-size: large;
            }
            .tikPass
            {
            text-align:left;
	background:#ffffff;
	border-color:black;

	-moz-border-radius:3px;
	border-radius:3px;
	margin:0 auto 1.625em;
	padding:1.625em;
	position:relative;
	float:left;
	-moz-border-radius: 25px; /* Firefox 3.6 and earlier */
    text-indent:0;
	z-index:1;
	width: 40%;
            }

        </style>
        <link href="Content/style.css" rel="stylesheet" />
<br />
        <div id="DefaultMsg">
            Sorry, there are no ads for these filters.
            <br />
            Reset filter and search again with different combination.
            <br />
            <br />
            OR
            <br /> 
            <br />
            You can be the first person to post your requirement.
            Post Your free Ad <asp:HyperLink ID="hpLnkPostad" NavigateUrl="~/PostAd.aspx" runat="server">HERE</asp:HyperLink>
            <br />
            <br />
        </div>

        <style>
            .filterDivs {
            width:auto;
            display:table;
  background: #B6B6B4;
            width: auto;
            vertical-align: middle;
            height: auto;
           
            text-decoration-color: black;
            text-align: center;
            padding:3px;
    opacity: .4;
            }
        </style>

        <div class="filterDivs">Rock<a id="lbltype"  onclick="removetag(this.id)" href="#">&nbsp;&nbsp;<img src="Content/cancel.png" style="vertical-align:middle; padding-left:3px;" alt="Remove this Tag" /> </a> </div>
       <br /><br />
          <div id="popUpDiv"  >
        <div>
            <img src="../../Content/close-icon.png" onclick="popup('popUpDiv')" style="float: right" />
        </div>
       <div id="LoginFB">

       </div>
    </div>


        <p>
        <asp:TextBox ID="txt" runat="server"  CssClass="tikPass" TextMode="Password"></asp:TextBox>
        
</p>        
        
         </form>
</body>
</html>
