﻿<%@ Page Title="" Language="C#" MasterPageFile="~/UserMaster2.master" AutoEventWireup="true" CodeFile="FindGear.aspx.cs" Inherits="FindGear" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div style="padding-top:80px; font-size:xx-large; text-align:center;">Coming Sooner than you think.....<br />The most sophisticated platform dedicated solely to musicians.<br />
    
</div><br />
    <div style="font-size:x-large; text-align:center;"> Oh, did we forget to mention? It's all free!!!</div>
</asp:Content>

