﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="NoMailFound.aspx.cs" Inherits="NoMailFound" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <h1>Sorry, we couldn't get your email address!</h1>
    </div>
    </form>
</body>
</html>
