﻿<%@ Page Title="" Language="C#" MasterPageFile="~/UserMaster2.master" AutoEventWireup="true" CodeFile="NotAv.aspx.cs" Inherits="NotAv" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <script src="Scripts/md5.js"></script>
    
    <div id="divMsgNotfound" runat="server" style="text-align:center; padding-top:80px; font-size:xx-large; font:bolder;">
        Sorry, there's nothing like that in this universe!
        <br />
        <br />
        <asp:Image ID="Image1" runat="server" Width="40" Height="40" />
        <br />
        <br />
        <asp:Label ID="Label1" runat="server" Text=""></asp:Label>

        <br />  <asp:Label ID="Label2" runat="server" Text=""></asp:Label>
        <br />
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" />
        <br />
    </div>
    <script>
        document.getElementById('<%=Label1.ClientID %>').innerHTML = hex_md5('rahul');

    </script>
</asp:Content>

