﻿

<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Register.aspx.cs" Inherits="Register" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div id="blanket" style="display: none;">
    </div>
    <div id="popUpDiv"  >
        <div>
            <img src="../../Content/close-icon.png" onclick="popup('popUpDiv')" style="float: right" />
        </div>
       
        </div>
  <br />
    <br />
    <br />
        <div id="signUp">
            <h3 class="reply-title">
                Sign In
            </h3>
            <p class="comment-form-author">
                 <label for="Email">
                  Email
                 </label>
                      <asp:TextBox ID="txt_Email" runat="server"></asp:TextBox>
              </p>
            <p class="comment-form-email">
                <label for="Password">
                 Password 
                </label>
                       <asp:TextBox ID="txt_Password" runat="server"></asp:TextBox>
            </p>
            <p class="form-submit">
                &nbsp;</p>
            <p class="form-submit">
                &nbsp;</p>
            <p class="form-submit">
                &nbsp;</p>
            <p class="form-submit">
                &nbsp;</p>
            <p class="form-submit">
                &nbsp;</p>
            <p class="form-submit">
                <br />
                <asp:Button ID="submit1" runat="server" Text="Login" OnClick="submit1_Click" />  
            </p>
        </div>
    
   
 
</asp:Content>

