﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="UserMasterFull.master.cs" Inherits="UserMasterFull" %>


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <script src="Scripts/0000000000acaab070d91666ef7fd4dea86ce4b303.js"></script>
    <script src="Scripts/0000000000bf627e802336b06afc05befc32ea2740.js"></script>
    <script src="Scripts/global.js"></script>
    <script src="Scripts/csspopup.js"></script>
    <link href="Content/00000000006982a6a10fdf25cd942ded921e8277a8.css" rel="stylesheet" />
    <link href="Content/global5e1f.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />





    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    
</head>
  
<body class="bodyImage" >
    <%--<div id="fb-root"></div>--%>
  
          

 
    <form id="form1" runat="server">
        <div>
            <header class="global">
                <div class="contentWrapper">
                    <h1 id="siteHeader"><a href="index.html"><span style="color: White">Mera Band</span></a></h1>
                    <nav class="global">
                        <ul class="list">

                            <li><a href="index.html" class="home current">Home</a></li>
                            <li><a runat="server" id="HomeLnk" href="people/index.html">Home</a></li>
                            <li><a href="people/index.html">Post Ad</a></li>
                            <li><a href="services/index.html">Find Musicians</a></li>
                            <li><a href="services/index.html">Find Gear</a></li>
                            <li><a href="clients/index.html">Blog</a></li>
                            <li><a href="contact/index.html">Contact</a></li>
                            <li><a href="#">
                                <div class="fb-login-button" data-show-faces="true" data-width="20" data-max-rows="1" data-height="40"></div>
                            </a></li>
                           
                          <%--  <li><span id="fbLogout" onclick="fbLogout()"><a class="fb_button fb_button_medium"><span class="fb_button_text">Logout</span></a></span>

                            </li>--%>
                            <%--  <li><a href="#" onclick="ShowLogin()">My Account</a></li>--%>
                        </ul>
                    </nav>
                </div>
            </header>
            <br />
            <br />  </div>
           <br />
        <br />
  <div style="width: 100%; margin:0 auto;" >
    
        
           <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
       
         </asp:ContentPlaceHolder>

        
        
    
       </div>
       

               <footer class="global">
  <div class="contentWrapper">
    <div class="colWrap clear">
     
      <div id="Social" class="clear col two end">
        <h4>Follow Us</h4>
        <ul class="clear Social">
                 
            <li><a href="http://twitter.com/#!/Bond_Vagabond" class="tw">Twitter</a></li>
          
            <li><a href="http://www.facebook.com/pages/orchestrated" class="fb">Facebook</a></li>
         
        </ul>
      </div>
    </div>
    <div id="copyright">
      <p>Copyright 2013 Mera Band</p>
     
    </div>
  </div>
</footer>
        
    </form>
</body>
</html>

