﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="UserHome.aspx.cs" Inherits="Home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <p>
    <br />
</p>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

     <link href="content/site.css" rel="stylesheet" />
    <link href="Content/PopUpCountry.css" rel="stylesheet" />
    <link href="Content/Buttons.css" rel="stylesheet" />
    <link href="Content/CommonStyle.css" rel="stylesheet" />


    <br />
    
    <br />
    
    <br />
           <div style="float: initial;">
            <a href="Messages.aspx" class="
                ">
                <span id="BtnMsgTxt" runat="server" class="a-btn-text">Messages</span>
                <span class="a-btn-slide-text">Sent/Recieved</span>
                <span class="a-btn-icon-right"><span></span></span>
            </a>
        </div>
        <div style="float: initial;">
            <a href="Messages.aspx" class="a-btn">
                <span class="a-btn-text">Profile</span>
                <span class="a-btn-slide-text">View/Update</span>
                <span class="a-btn-icon-right"><span></span></span>
            </a>
        </div>
        <div style="float: initial;">
            <a href="#" class="a-btn">
                <span id="TT" runat="server" class="a-btn-text">My Ads</span>
                <span class="a-btn-slide-text">View/Post</span>
                <span class="a-btn-icon-right"><span></span></span>
            </a>
        </div>
</asp:Content>

